<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<nav class="navbar shadow-sm fixed-top bg-white">
    <div class="container-fluid" style="background-color: #4c77dc;">
        <a class="navbar-brand" href="#">
            <img src="/static/logo1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Chalk Talk Speech And Hearing Clinic 
          </a>
          <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="/services">Services</a>
              <a class="nav-link" href="/feedbacks">Feedbacks</a>
              <a class="nav-link" href="/about">About Us</a>
              <!--<a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
          <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
          </div>
          </button> -->
      
    </div>
  </nav>